name: Go

on: push

jobs:
  fmt:
    runs-on: ubuntu-latest
    env:
      RUN_CONTEXT:
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: 1.25.4
      - uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod # GOMODCACHE
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-
      - name: go fmt
        run: make fmt

  golangci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: 1.25.4
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.5.0
