name: Run

on:
  schedule:
    - cron: "*/10 * * * *"

jobs:
  run:
    runs-on: ubuntu-latest
    env:
      RUN_CONTEXT:
      NATURE_ACCESS_TOKEN: ${{ secrets.NATURE_ACCESS_TOKEN }}
      MACKEREL_API_KEY: ${{ secrets.MACKEREL_API_KEY }}
      MACKEREL_SERVICE_NAME: ${{ secrets.MACKEREL_SERVICE_NAME }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: 1.25.5
      - uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod # GOMODCACHE
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-
      - run: make run
